<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dirty Hangman</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Dirty Hangman</h1>
    <div id="phrase">
      {{ maskedPhrase }}
    </div>
    <form id="inputForm">
      <input id="inputField" type="text" name="userGuess" value="" />
      <input type="submit" value="Make a guess!" />
    </form>
    <p id="wrongLetters">{{ game.lettersWrong }}</p>
    <p><span id="guesses">{{ game.guessesLeft }}</span> guesses left!</p>
    <script type="text/javascript" src="js/frontend.js"></script>
  </body>
</html>
