<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dirty Hangman</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Dirty Hangman</h1>
    <form class="" action="/guess" method="post">
      <input type="text" name="userGuess" value="">
      <button type="button" name="button">Make a guess!</button>
    </form>
    <p>{{}} guesses left!</p>
    <script type="text/javascript" src="js/frontend.js"></script>
  </body>
</html>
